a:link {
	text-decoration: none;
	color: #A6D5F0;
	font-family: Helvetica,Arial,Sans Seriff;
}
a:visited {
	color: #CAA6F0;
}
a:hover {
	background-color: #A6F0CE;
	text-decoration: underline;
}
a:active {
	color: #A6F0CE;
	background: none;
}
#wrapper {
	width: 900px;
	height: 400px;
	float: left;
	margin: 20px 0 0 50px;
	line-height: 1.5em;
	display: block;
}

.weekly {
	width: 500px;
	float: left;
	margin-right: 20px;
		-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;

}

#projects {
	width: 320px;
	float: left;
	margin-left:90px;
	margin-top:-38px;
}

p, h1, h2, h3, h4, dd, dt, dl{
	font-family: Helvetica;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

h1 {
	font size: 6em;
	color:blue;
}

h2 {
	font-size: 1.5em;
	color: black;
}

h3 {
	font-size: 1.25em;
	font-weight: normal;
	margin-top: 20px;
}

dt {
	font-weight: normal;
	color:blue;
	margin-left: 18px;
	margin-top: 8px;
	padding-top: 8px;
}


dd {
	font-size: .9em;
	font-weight: normal;
	margin-left: 40px;
	margin-top: 1px;
	padding-top: 1px;
}
