
dd {
	color: black;
}
a:link {
	text-decoration: none;
	color: #A6D5F0;
	font-family: Helvetica,Arial,Sans Seriff;
}
a:visited {
	color: #CAA6F0;
}
a:hover {
	background-color: #A6F0CE;
	text-decoration: underline;
}
a:active {
	color: #A6F0CE;
	background: none;
}
dt {
	font-weight:bold;
	font-family: Helvetica,Arial,Sans Seriff;
}
body {
	font-family: Helvetica,Arial,Sans Seriff;
}
h1 {
	color: blue;
	font-size: 70px;
	margin-bottom: 0px;
}
h2 {
	margin-top: 0px;
	color: grey;
	font-size: 30px;
}
dl {
	color: blue;
}
